In [7]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import os

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
warnings.filterwarnings('ignore')

In [8]:
data = pd.read_csv('/Users/civicfab/Desktop/Documents/Ironhack/Unit7/7.01/learningSet.csv')

In [9]:
data.shape

(95412, 481)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

In [15]:
data.columns = [col_name.lower().replace(' ', '_').replace('/', '') for col_name in data.columns]
data.columns

Index(['odatedw', 'osource', 'tcode', 'state', 'zip', 'mailcode', 'pvastate',
       'dob', 'noexch', 'recinhse',
       ...
       'target_d', 'hphone_d', 'rfa_2r', 'rfa_2f', 'rfa_2a', 'mdmaud_r',
       'mdmaud_f', 'mdmaud_a', 'cluster2', 'geocode2'],
      dtype='object', length=481)

In [16]:
data.describe()

,odatedw,tcode,dob,age,numchld,income,wealth1,hit,mbcraft,mbgarden,...,fistdate,nextdate,timelag,avggift,controln,target_b,target_d,hphone_d,rfa_2f,cluster2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

In [13]:
cat = data.select_dtypes('object')
cat

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [17]:
num = data.select_dtypes('number')
num

,odatedw,tcode,dob,age,numchld,income,wealth1,hit,mbcraft,mbgarden,...,fistdate,nextdate,timelag,avggift,controln,target_b,target_d,hphone_d,rfa_2f,cluster2
0,8901,0,3712,60.0,NaN,NaN,NaN,0,NaN,NaN,...,8911,9003.0,4.0,7.741935,95515,0,0.0,0,4,39.0
1,9401,1,5202,46.0,1.0,6.0,9.0,16,0.0,0.0,...,9310,9504.0,18.0,15.666667,148535,0,0.0,0,2,1.0
2,9001,1,0,NaN,NaN,3.0,1.0,2,0.0,0.0,...,9001,9101.0,12.0,7.481481,15078,0,0.0,1,4,60.0
3,8701,0,2801,70.0,NaN,1.0,4.0,2,0.0,0.0,...,8702,8711.0,9.0,6.812500,172556,0,0.0,1,4,41.0
4,8601,0,2001,78.0,1.0,3.0,2.0,60,1.0,0.0,...,7903,8005.0,14.0,6.864865,7112,0,0.0,1,2,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,9602,NaN,NaN,25.000000,184568,0,0.0,0,1,12.0
95408,9601,1,5001,48.0,1.0,7.0,9.0,1,0.0,0.0,...,9603,NaN,NaN,20.000000,122706,0,0.0,1,1,2.0
95409,9501,1,3801,60.0,NaN,NaN,NaN,0,NaN,NaN,...,9410,9501.0,3.0,8.285714,189641,0,0.0,1,3,34.0
95410,8601,0,4005,58.0,NaN,7.0,NaN,0,NaN,NaN,...,8612,8704.0,4.0,12.146341,4693,1,18.0,1,4,11.0
95411,8801,2,1801,80.0,NaN,5.0,8.0,3,0.0,0.0,...,8803,8809.0,6.0,96.794872,185114,0,0.0,1,1,12.0

# Check for null values in all the columns

In [14]:
for column in cat.columns:
    print(data[column].value_counts())

MBC    4539
SYN    3563
AML    3430
BHG    3324
IMP    2986
       ...
MDD       1
NRM       1
HDP       1
CRP       1
VIC       1
Name: OSOURCE, Length: 896, dtype: int64
CA    17343
FL     8376
TX     7535
IL     6420
MI     5654
NC     4160
WA     3577
GA     3403
IN     2980
WI     2795
MO     2712
TN     2492
AZ     2407
OR     2183
MN     2175
CO     2032
SC     1759
AL     1705
KY     1620
OK     1617
LA     1594
KS     1294
IA     1271
AR     1020
MS      986
NV      979
NM      877
NE      754
UT      569
ID      533
MT      527
HI      449
SD      301
WY      283
AK      282
ND      260
AP       81
NY       71
VA       55
OH       52
PA       38
MD       34
NJ       26
MA       25
CT       23
AA       18
AE       15
ME       11
NH        8
VT        7
RI        6
VI        5
WV        4
GU        4
DE        3
DC        1
AS        1
Name: STATE, dtype: int64
85351     61
92653     59
85710     54
95608     50
60619     45
          ..
70058-     1
93024      1
96306      1
30060-     1
32776-     1
Name: ZIP, Length: 19938, dtype: int64
     94013
B     1399
Name: MAILCODE, dtype: int64
     93954
P     1453
E        5
Name: PVASTATE, dtype: int64
0    61203
0    33882
1      195
1       90
X       35
         7
Name: NOEXCH, dtype: int64
     88709
X     6703
Name: RECINHSE, dtype: int64
     93395
X     2017
Name: RECP3, dtype: int64
     95298
X      114
Name: RECPGVG, dtype: int64
     93795
X     1617
Name: RECSWEEP, dtype: int64
XXXX    95118
C1CM       65
L1CM       44
I1CM       37
D2CM       28
C2CM       24
D1CM       20
L2CM       15
L1LM        8
C1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
C5CM        3
C2MM        3
C2LM        3
D5TM        3
I1LM        3
I5CM        1
C1MM        1
I5MM        1
C5MM        1
I2MM        1
L1MM        1
L2LM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64
R2    13623
T2    12369
S1    11503
S2     8530
C2     8264
C1     6145
C3     5280
T1     4982
R3     4809
U1     4510
U2     3254
U3     2598
       2316
T3     2176
S3     1891
U4     1804
R1     1358
Name: DOMAIN, dtype: int64
40    3979
35    3624
36    3617
27    3553
24    3539
49    3315
12    3000
18    2897
13    2706
30    2607
39    2601
45    2515
43    2385
11    2378
51    2322
      2316
14    2246
41    2176
44    1953
16    1947
2     1942
21    1891
8     1828
10    1804
46    1800
28    1630
17    1621
20    1568
53    1441
3     1428
34    1358
42    1358
23    1324
31    1285
22    1282
25    1275
38    1200
15    1173
1     1140
7     1076
5     1014
37     972
26     947
47     868
29     859
32     795
48     787
50     776
9      770
6      603
33     593
4      561
19     497
52     270
Name: CLUSTER, dtype: int64
E    57344
     29548
I     8520
Name: AGEFLAG, dtype: int64
H    52354
     22228
U    20830
Name: HOMEOWNR, dtype: int64
     94266
M      869
F      237
B       40
Name: CHILD03, dtype: int64
     93846
M     1061
F      408
B       97
Name: CHILD07, dtype: int64
     93601
M     1149
F      520
B      142
Name: CHILD12, dtype: int64
     92565
M     1442
F     1142
B      263
Name: CHILD18, dtype: int64
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64
3    43549
2    23455
     21280
1     7128
Name: DATASRCE, dtype: int64
      95232
0        80
12       72
1        18
2        10
Name: SOLP3, dtype: int64
      89212
12     5693
0       296
1        94
2        75
3        19
4        16
6         7
Name: SOLIH, dtype: int64
     95118
X      294
Name: MAJOR, dtype: int64
      80168
12     3914
3      3327
14     2017
5      1918
4      1622
2      1408
1      1038
Name: GEOCODE, dtype: int64
     90210
Y     5202
Name: COLLECT1, dtype: int64
     84986
Y    10426
Name: VETERANS, dtype: int64
     86541
Y     8871
Name: BIBLE, dtype: int64
     87547
Y     7865
Name: CATLG, dtype: int64
     94525
Y      887
Name: HOMEE, dtype: int64
     81086
Y    14326
Name: PETS, dtype: int64
     83158
Y    12254
Name: CDPLAY, dtype: int64
     82618
Y    12794
Name: STEREO, dtype: int64
     84931
Y    10481
Name: PCOWNERS, dtype: int64
     90626
Y     4786
Name: PHOTO, dtype: int64
     87236
Y     8176
Name: CRAFTS, dtype: int64
     88282
Y     7130
Name: FISHER, dtype: int64
     82010
Y    13402
Name: GARDENIN, dtype: int64
     93384
Y     2028
Name: BOATS, dtype: int64
     84911
Y    10501
Name: WALKER, dtype: int64
     93876
Y     1536
Name: KIDSTUFF, dtype: int64
     94371
Y     1041
Name: CARDS, dtype: int64
     94852
Y      560
Name: PLATES, dtype: int64
     54032
2    20027
3    11479
1     9874
Name: LIFESRC, dtype: int64
     50143
X    45269
Name: PEPSTRFL, dtype: int64
L1F    30380
L1G    12384
L2F    10961
L3E     7767
L2E     4989
L4D     4914
L1E     4911
L2G     4595
L4E     3972
L3F     3523
L3D     2498
L4F     2100
L3G     1503
L4G      915
Name: RFA_2, dtype: int64
A1F    21950
A1G     9184
A2F     6283
F1F     5973
A1E     5119
       ...
S4B        2
S3C        2
A2C        1
S3B        1
N1C        1
Name: RFA_3, Length: 71, dtype: int64
A1F    21818
A1G     9098
A2F     6264
F1F     5998
A1E     5061
       ...
S2C        4
S3C        3
S4B        2
A3C        2
S3B        1
Name: RFA_4, Length: 64, dtype: int64
       33590
A1F    11027
A1G     8393
A2F     6029
A3E     3362
S2E     3192
A2G     2736
S4D     2693
S2F     2548
S3E     2148
S4E     2054
A3F     1998
A4E     1789
A2E     1729
A4D     1720
N2F     1309
S2G     1140
S3F     1131
S4F     1093
A4F      946
A3G      834
N3E      640
S3G      508
S4G      493
N2G      481
A3D      476
A4G      416
N3F      285
N4E      205
N3G       97
N4F       95
N1G       86
N4D       39
N4G       30
L2G       21
L1G       20
L4G       14
L3F       14
L3G       13
L4F       13
N2E        5
Name: RFA_5, dtype: int64
A1F    15696
F1F     6704
A1G     6634
A1E     5429
A2F     5353
       ...
U1C        1
P1A        1
A2B        1
P1G        1
I1D        1
Name: RFA_6, Length: 109, dtype: int64
A1F    10954
        8874
A1E     6602
A1G     4927
A2F     4830
       ...
N4C        1
I4D        1
A2B        1
L4C        1
L3C        1
Name: RFA_7, Length: 106, dtype: int64
A1F    11312
A1E     6904
A1G     5063
A2F     4961
F1F     3984
       ...
I4E        2
U1D        1
L4C        1
I3E        1
L3C        1
Name: RFA_8, Length: 109, dtype: int64
       11245
A1F     9629
A1E     7038
A1G     4259
A2F     4155
       ...
A2B        2
A3B        2
N2A        1
U1D        1
I1E        1
Name: RFA_9, Length: 107, dtype: int64
       32748
A1F     9204
A1E     6153
A1G     3943
A2F     3516
       ...
L4F        1
A2B        1
L3D        1
I4C        1
A4B        1
Name: RFA_10, Length: 94, dtype: int64
       10422
A1F     9745
A1E     7029
A1G     4144
A2F     3735
       ...
S3B        8
A4B        4
S2B        4
A3B        3
A2B        2
Name: RFA_11, Length: 101, dtype: int64
A1F    9857
       8923
A1E    7121
A1G    4199
A2F    3783
       ...
S2B       4
A3B       3
A2B       2
U1C       1
F1B       1
Name: RFA_12, Length: 107, dtype: int64
       40219
A1F     9066
A1G     3954
A2F     3281
A2E     2695
       ...
N2C        1
L3G        1
U1G        1
L4E        1
U1F        1
Name: RFA_13, Length: 87, dtype: int64
       18867
A1F     8053
A1E     7766
A1G     3740
A1D     3577
       ...
I3G        4
I3F        3
L2D        3
N2B        1
U1D        1
Name: RFA_14, Length: 95, dtype: int64
       65477
A1G     3461
A2F     3084
S4E     2016
S4D     1965
S2F     1729
S3E     1631
A3E     1370
A2G     1361
S4F     1349
A3F     1249
S3D     1107
A4E     1037
S3F     1026
A3D      854
N2E      819
A4F      805
A4D      783
S2G      706
S4G      612
N2F      512
A3G      511
S3G      456
A4G      385
N2G      233
N3D      223
N3E      206
N3F      141
N4D       91
N3G       80
N4E       65
N4F       47
N4G       20
U1F        1
Name: RFA_15, dtype: int64
       20417
A1E     7080
A1F     6445
A1D     3322
A1G     3053
       ...
S4A        2
I2C        1
S2A        1
P1C        1
I3C        1
Name: RFA_16, Length: 123, dtype: int64
       27650
A1E     6773
A1F     5328
A1D     3645
A1G     2305
       ...
A4B        2
A3B        1
S2A        1
A4A        1
S4A        1
Name: RFA_17, Length: 118, dtype: int64
       21263
A1E     7186
A1F     5510
A1D     3941
A1G     2408
       ...
P1B        1
S2A        1
S3A        1
A4A        1
N3B        1
Name: RFA_18, Length: 122, dtype: int64
       24492
A1E     7248
A1F     5347
A1D     4156
A1G     2330
       ...
A4B        3
P1B        2
S4A        2
L4C        1
A4A        1
Name: RFA_19, Length: 108, dtype: int64
       50200
A1E     6408
A1F     4947
A1D     3340
A1G     2193
       ...
U1E        2
I1G        2
L4E        1
L3F        1
U1D        1
Name: RFA_20, Length: 80, dtype: int64
       35212
A1E     6729
A1F     5127
A1D     3607
A1G     2245
       ...
A4B        2
S3A        2
P1B        2
S4A        2
A4A        1
Name: RFA_21, Length: 102, dtype: int64
       25648
A1E     7233
A1F     5324
A1D     4113
A1G     2318
       ...
S4A        2
A1A        1
F1B        1
L4C        1
A4A        1
Name: RFA_22, Length: 117, dtype: int64
       56274
A1F     4607
A1E     4348
A1G     2401
S2E     2243
       ...
1E         1
N1E        1
2D         1
U1D        1
L1D        1
Name: RFA_23, Length: 87, dtype: int64
       36973
A1E     7227
A1F     5032
A1D     4563
F1D     3315
       ...
N1C        2
U1C        2
A1C        2
U1G        1
L4C        1
Name: RFA_24, Length: 97, dtype: int64
L    95412
Name: RFA_2R, dtype: int64
F    46964
E    21639
G    19397
D     7412
Name: RFA_2A, dtype: int64
X    95118
C      109
L       70
D       65
I       50
Name: MDMAUD_R, dtype: int64
X    95118
1      187
2       87
5       20
Name: MDMAUD_F, dtype: int64
X    95118
C      249
L       23
M       17
T        5
Name: MDMAUD_A, dtype: int64
A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [28]:
nulls = pd.DataFrame(cat.isna().sum()*100/len(cat), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(50)

          percentage
GEOCODE2    0.138347
RFA_12      0.000000
RFA_10      0.000000
RFA_9       0.000000
RFA_8       0.000000
RFA_7       0.000000
RFA_6       0.000000
RFA_5       0.000000
RFA_4       0.000000
RFA_3       0.000000
RFA_2       0.000000
PEPSTRFL    0.000000
LIFESRC     0.000000
PLATES      0.000000
CARDS       0.000000
KIDSTUFF    0.000000
WALKER      0.000000
RFA_11      0.000000
RFA_13      0.000000
STATE       0.000000
RFA_14      0.000000
MDMAUD_A    0.000000
MDMAUD_F    0.000000
MDMAUD_R    0.000000
RFA_2A      0.000000
RFA_2R      0.000000
RFA_24      0.000000
RFA_23      0.000000
RFA_22      0.000000
RFA_21      0.000000
RFA_20      0.000000
RFA_19      0.000000
RFA_18      0.000000
RFA_17      0.000000
RFA_16      0.000000
RFA_15      0.000000
BOATS       0.000000
OSOURCE     0.000000
FISHER      0.000000
CRAFTS      0.000000
CHILD07     0.000000
CHILD03     0.000000
HOMEOWNR    0.000000
AGEFLAG     0.000000
CLUSTER     0.000000
DOMAIN      0.000000
MDMAUD      0.000000
RECSWEEP    0.000000
RECPGVG     0.000000
RECP3       0.000000

In [29]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(50)

          percentage
rdate_5    99.990567
ramnt_5    99.990567
rdate_3    99.746363
ramnt_3    99.746363
rdate_4    99.705488
ramnt_4    99.705488
ramnt_6    99.186685
rdate_6    99.186685
ramnt_15   92.388798
rdate_15   92.388798
rdate_23   91.763091
ramnt_23   91.763091
rdate_20   91.732696
ramnt_20   91.732696
ramnt_7    90.677273
rdate_7    90.677273
ramnt_17   90.146942
rdate_17   90.146942
rdate_21   90.029556
ramnt_21   90.029556
ramnt_10   89.035970
rdate_10   89.035970
rdate_13   87.160944
ramnt_13   87.160944
numchld    87.018404
rdate_11   84.551209
ramnt_11   84.551209
rdate_19   83.359535
ramnt_19   83.359535
ramnt_9    82.461326
rdate_9    82.461326
rdate_24   81.409047
ramnt_24   81.409047
ramnt_18   79.270951
rdate_18   79.270951
ramnt_22   78.123297
rdate_22   78.123297
ramnt_8    77.495493
rdate_8    77.495493
rdate_14   75.561774
ramnt_14   75.561774
ramnt_12   73.064185
rdate_12   73.064185
ramnt_16   71.707961
rdate_16   71.707961
adate_15   68.625540
adate_23   58.975810
mbcolect   55.458433
magfaml    55.395548
mbcraft    55.395548

# Exclude the following variables by looking at the definitions.

In [19]:
drop_list = []
drop_list.extend(['drop_list', 'zip_code'])
drop_list

['drop_list', 'zip_code']

In [25]:
cols_to_drop = list(nulls[nulls['percentage'] > 85].index)
len(cols_to_drop)

25

In [26]:
cols_to_drop

['numchld',
 'rdate_3',
 'rdate_4',
 'rdate_5',
 'rdate_6',
 'rdate_7',
 'rdate_10',
 'rdate_13',
 'rdate_15',
 'rdate_17',
 'rdate_20',
 'rdate_21',
 'rdate_23',
 'ramnt_3',
 'ramnt_4',
 'ramnt_5',
 'ramnt_6',
 'ramnt_7',
 'ramnt_10',
 'ramnt_13',
 'ramnt_15',
 'ramnt_17',
 'ramnt_20',
 'ramnt_21',
 'ramnt_23']

In [27]:
drop_list.extend(cols_to_drop)
cols_to_drop

['numchld',
 'rdate_3',
 'rdate_4',
 'rdate_5',
 'rdate_6',
 'rdate_7',
 'rdate_10',
 'rdate_13',
 'rdate_15',
 'rdate_17',
 'rdate_20',
 'rdate_21',
 'rdate_23',
 'ramnt_3',
 'ramnt_4',
 'ramnt_5',
 'ramnt_6',
 'ramnt_7',
 'ramnt_10',
 'ramnt_13',
 'ramnt_15',
 'ramnt_17',
 'ramnt_20',
 'ramnt_21',
 'ramnt_23']

# Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [33]:
print(cat['GENDER'].value_counts())
cat['GENDER'] = cat['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [35]:
data['gender'] = data['gender'].apply(lambda x: 'M' if str(x).upper().startswith('M')
                                                  else 'F' if str(x).upper().startswith('F')
                                                  else 'other')

data['gender'] = data['gender'].fillna('O')

data.gender.value_counts()

F        51277
m        39094
other     5041
Name: gender, dtype: int64